@font-face {
    font-family: "JBMono";
    src: url("fonts/JetBrainsMono.ttf");
}

body {
    margin: 0;
    height: 100vh;
}

.main-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 84px 1fr 1fr;
    align-content: center;
    /*background: linear-gradient(315deg, #787777, #FFFFFF);*/
}

.header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 20px;
}



.header-items {
    display: flex;
    align-items: center;
    justify-content: center;
}


.mode {
    font-family: "JBMono", sans-serif;
    font-weight: 600;
    padding: 0;
    background-color: white;
    width: 140px;
    height: 40px;
    border: solid 2px black;
    cursor: pointer;
    color: black;
    box-shadow: 5px 5px 0 black;
    position: relative;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}

.mode:hover, .button1:hover,.button2:hover {
    box-shadow: 10px 10px 0 black;
    bottom: 3px;
    right: 3px;
    color: #818181;
}

.buttons {
    display: flex;
    justify-content: center;
}

.paragraph {
    display: grid;
    align-content: end;
    justify-content: center;
    font-size: 60px;
    padding-bottom: 30px;
    font-family: "JBMono", sans-serif;
    font-weight: 800;
    text-align: center;
}

.paragraph-item {
    transition: 0.3s;
}

.button1, .button2 {
    font-family: "JBMono", sans-serif;
    font-weight: 600;
    border: solid 2px black;
    margin: 0 30px 0 30px;
    padding: 0;
    height: 50px;
    width: 250px;
    font-size: 100%;
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 5px 5px 0 black;
    position: relative;
    bottom: 0;
    right: 0;
    transition: 0.3s;
}

.pages {
    text-decoration: none;
}

@media (min-width: 860px) and (max-width: 970px) {
    .mode {
        width: 129px;
        height: 37px;
        font-size: 92%;

    }

    .paragraph-item {
        font-size: 55px;
    }

    .button1, .button2 {
        margin: 0 28px 28px 28px;
        height: 46px;
        width: 230px;
        font-size: 92%;
    }
}

@media (min-width: 700px) and (max-width: 859px) {
    .mode {
        width: 105px;
        height: 30px;
        font-size: 75%;
    }

    .paragraph-item {
        font-size: 45px;
    }

    .buttons {
        align-items: center;
        justify-content: start;
        flex-direction: column;
    }

    .button1, .button2 {
        margin: 0 23px 23px 23px;
        height: 38px;
        width: 188px;
        font-size: 75%;
    }
}

@media (min-width: 300px) and (max-width: 699px) {
    .mode {
        width: 94px;
        height: 27px;
        font-size: 67%;
    }

    .paragraph-item {
        font-size: 40px;
    }

    .buttons {
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }

    .button1, .button2 {
        margin: 0 20px 20px 20px;
        height: 34px;
        width: 188px;
        font-size: 67%;
    }
}
